# ignore cloned repos
src/common
src/profiles
src/secure
src/wiki
src/www

# ignore secrets files
src/secure_settings/aws.ini
src/secure_settings/class.FlipsideSettings.php
src/secure_settings/client_secret.json

# ignore modified docker-compose.yml
docker-compose.yml

# ignore volumes storage folder
.volumes

# ignore usesudo if it is needed
.usesudo
