{
  "web":{
    "client_id": "xxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_email":"",
    "client_x509_cert_url":"",
    "client_secret":"XX-XXXXXXXXXXXXX-_XXXXXXX-XXX",
    "redirect_uris":[
      "https://profiles.burningflipside.com/oauth2callback.php?src=google",
      "https://profiles.test.burningflipside.com/oauth2callback.php?src=google"],
      "javascript_origins":["https://profiles.burningflipside.com",
      "https://secure.burningflipside.com",
      "http://wiki.burningflipside.com",
      "https://wiki.burningflipside.com",
      "http://www.burningflipside.com",
      "https://www.burningflipside.com",
      "http://burningflipside.com",
      "https://burningflipside.com",
      "https://profiles.test.burningflipside.com",
      "https://secure.test.burningflipside.com",
      "http://wiki.test.burningflipside.com",
      "https://wiki.test.burningflipside.com",
      "http://www.test.burningflipside.com",
      "https://www.test.burningflipside.com",
      "http://burningflipside.com",
      "https://burningflipside.com"
    ]
  }
}
